/** @format */
.Postboy {
  display: block;
  width: 30%;
  height: 40%;
  flex-basis: 60%;
}

.Explain_box {
  width: 100%;
  padding: 5px;
}

.Explain {
  font-size: 1.6rem;
  font-weight: bold;
  flex-basis: 40%;
  text-align: center;
}
