/** @format */
.Postboy {
  display: block;
  width: 20%;
  height: 30%;
  flex-basis: 60%;
}

.Explain_box {
  width: 100%;
  padding: 5px;
}

.Explain {
  font-size: 1.6rem;
  font-weight: bold;
  flex-basis: 40%;
  text-align: center;
}
section {
  margin-left: 15%;
}
.SelectBar {
  display: flex;
}
.SendText {
  flex-basis: 60%;
}
.Select_menu {
  /* border: 3px solid greenyellow; */
  background: #ffd54f;
  flex-basis: 10%;
}
.StartFetch {
  flex-basis: 15%;
}
