body {
  text-align: center;
  justify-content: center;
}

.Request_Box {
  flex-basis: 25%;
  border-radius: 10px;
  display: inline-block;
  height: 25rem;
  width: 28rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  border: 0.15rem solid black;
}

.Response_Box {
  flex-basis: 25%;
  border-radius: 10px;
  display: inline-block;
  height: 25rem;
  width: 28rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  border: 0.15rem solid black;
}
.History_Box {
  flex-basis: 25%;
  border-radius: 10px;
  display: inline-block;
  height: 25rem;
  width: 28rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  border: 0.15rem solid black;
}

.Header_Box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Header_option_box {
  display: flex;
  vertical-align: middle;
  font-style: italic;
  font-weight: bold;
  background: #ffd54f;
  padding: 3px 5px;
}

.Option_btn {
  display: flex;
}
.Sub_Title {
  padding: 5px;
  display: flex;
}

.Client_Body {
  height: 40%;
  width: 80%;
}

.Header_Box {
  display: flex;
}
