.Request_Box {
  flex: auto;
  border-radius: 10px;
  display: inline-block;
  height: 27.5rem;
  width: 22rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  border: 0.15rem solid black;
}

.Response_Box {
  flex: auto;
  flex-direction: row;
  border-radius: 10px;
  display: inline-block;
  height: 27.5rem;
  width: 22rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  border: 0.15rem solid black;
}
.Res_Info {
  display: flex;
  justify-content: space-between;
  margin-top: -14px;
}
.Response_List {
  flex-basis: 50%;
}
.Response_Get {
  flex-basis: 50%;
  background: #f8e6b5;
}
.Values {
  padding: 10px 15px 3px 5px;
}

.Header_Box {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
/* @media screen and (max-width: 425px) {
  .Header_Box {
    display: flex;
    flex-direction: column;
  }
} */

.Header_option_box {
  display: flex;
  background: #f8e6b5;
  justify-content: space-between;
  padding: 10px 15px 3px 15px;
}

.Option_btn {
  display: flex;
  width: 10rem;
}
.Sub_Title {
  padding: 5px;
  display: flex;
}

.Header_Box {
  display: flex;
}
