body {
  background: #e2e1e0;
  text-align: center;
}

.Request_Box {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 700px;
  margin: 1rem;
  position: relative;
  width: 700px;
}

.Response_Box {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 700px;
  margin: 1rem;
  position: relative;
  width: 700px;
}

.Header_option_box {
  display: flex;
  vertical-align: middle;
  background: yellow;
  padding: 3px 5px;
}

.Option_btn {
  display: flex;
}
